body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    background-color: black;
}

#terminal-container {
    margin: 0;
    width: 100%;
    height: 100%;
}

#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.sidenav {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.main {
    margin-right: 160px;
    font-size: 28px;
    padding: 0px 10px 0px 0px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav p {font-size: 18px;}
}

label {
    cursor: pointer;
}

#content-target {
    width: 90%;
    height: 220px;
    border-radius: 4px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.btn {
    background-color: #242323;
    border: none; 
    color: white; 
    padding: 10px 14px; 
    font-size: 14px; 
    cursor: pointer; 
    border-radius: 6px;

}
.btn:hover {
    background-color: #131212;
}
